.todo-item {
  border: 2px solid black;
  margin: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
h2,
.todo-item-input {
  flex-grow: 1;
  text-align: center;
}
button {
  margin: 0px 10px;
}

.button-submit {
  padding: 10px;
  background: none;
  border: 2px solid greenyellow;
  border-radius: 10px;
  cursor: pointer;
}

.button-submit-disable {
  background: none;
  padding: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  color: grey;
  pointer-events: none;
}
.form-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 10px;
  background: white;
  padding: 20px;
  border-radius: 6px;
}
.form-style p {
  margin: 0;
}
.modal_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-p{
  cursor: pointer;
  background-color: red;
  padding: 5px;
  border-radius: 5px;
}
