.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.radio{
    top: 0;left: 0;
    display: flex;
   align-items: center;
    width: 50%;

}
h1{
    text-align: center;
    margin-top: 250px;
}
.all_dog{
    padding: 5px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dog{
    padding: 5px;
    width: 23%;
    height: 23%;
    display: flex;
  justify-content: center;
  align-items: center;
}
.dog img{
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

.pagination{
    padding: 10px 0;
}
.spiner{
    background-color: red;
  
   width: 90vw;
    height: 90vh;
}
